{% extends 'website/base.html' %}

{% block content %}


{% if user.is_authenticated %}

    

    <table class="table table-striped table-hover table-bordered table-light">
        <thead class="table-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">City</th>
            <th scope="col">State</th>
            <th scope="col">Zipcode</th>
            <th scope="col">Country</th>
            <th scope="col">Created At</th>
            <th scope="col">ID</th>
          </tr>
        </thead>
        <tbody>
    {% if records %}
        {% for record in records %}
            <tr>
                <td>{{ record.first_name }} {{ record.last_name }}</td>
                <td>{{ record.email }}</td>
                <td>{{ record.phone }}</td>
                <td>{{ record.address }}</td>
                <td>{{ record.city }}</td>
                <td>{{ record.state }}</td>
                <td>{{ record.zip }}</td>
                <td>{{ record.country }}</td>
                <td>{{ record.created_at }}</td>
                <td>{{ record.id }}</td>
            </tr>
        {% endfor %}
    
    {% endif %}   

            </tbody>
        </table>
      


{% else %}

<h1>Login</h1>
<br/>

<form method="post" action="{% url 'home' %}">
    {% csrf_token %}
    <div class="mb-3">
        <input type="text" class="form-control" name="username" placeholder="Username" required>
    </div>
    
    <br/>
    <div class="mb-3">
        <input type="password" class="form-control" name="password" placeholder="Password" required>
    </div>
    <br/>
    <button type="submit" class="btn btn-secondary">Login</button>
</form>



{% endif %}

{% endblock %}




{% comment %} {% extends 'website/base.html' %}

{% block content %}

<div class="col-md-6 offset-md-3">

{% if user.is_authenticated %}

    <h1>Hello World</h1>

{% else %}

<h1>login</h1>
<br/>

<form method="post" action="{% url 'home' %}">
    {% csrf_token %}
    <form>
        <div class="mb-3">
          <input type="text" class="form-control" name="username" placeholder="Username" required>

        </div></br>
        <div class="mb-3">
          <input type="password" class="form-control" name="password", placeholder="Password" required>
        </div>
        <br/>
        <button type="submit" class="btn btn-secondary">login</button>
      </form>
</div>

{% endif %}

{% endblock %} {% endcomment %}

