{% extends 'website/base.html' %}
{% block content %}

<div class="card">
    <div class="card-header">
        {{ customer_record.first_name }}
        {{ customer_record.last_name }}
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

            {{ customer_record.first_name }}
            {{ customer_record.last_name }}<br/>
            {{ customer_record.email }}<br/>
            {{ customer_record.phone }}<br/>
            {{ customer_record.address }}<br/>
            {{ customer_record.city }}<br/>
            {{ customer_record.state }}<br/>
            {{ customer_record.zip }}<br/>
            {{ customer_record.country }}<br/>
            {{ customer_record.created_at }}<br/>
            {{ customer_record.id }}<br/>
{% endblock %}
