{% extends 'website/base.html' %}
{% block content %}



<div class="card">
    <div class="card-header">
        {{ customer_record.first_name }}
        {{ customer_record.last_name }}
    </div>
    <div class="card-body">
        <p class="card-text">
            <strong>EMAIL: </strong>{{ customer_record.email }}<br/>

            <strong>pHONE: </strong>{{ customer_record.phone }}<br/>

            <strong>ADDRESS: </strong>{{ customer_record.address }}<br/>

            <strong>CITY: </strong>{{ customer_record.city }}<br/>
            
            <strong>STATE: </strong>{{ customer_record.state }}<br/>
            <strong>ZIPCODE: </strong>{{ customer_record.zip }}<br/>
            <strong>COUNTRY: </strong>{{ customer_record.country }}<br/>
            <strong>CREATED AT: </strong>{{ customer_record.created_at }}<br/>
            <strong>RECORD ID: </strong>{{ customer_record.id }}<br/>
        </p>
      
    </div>
  </div>

{% endblock %}
