{% extends 'website/base.html' %}
{% block content %}



<div class="card">
    <div class="card-header">
        {{ customer_record.first_name }}
        {{ customer_record.last_name }}
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      
    </div>
  </div>

            {{ customer_record.first_name }}
            {{ customer_record.last_name }}
            {{ customer_record.email }}
            {{ customer_record.phone }}<br/>
            {{ customer_record.address }}<br/>
            {{ customer_record.city }}<br/>
            {{ customer_record.state }}<br/>
            {{ customer_record.zip }}<br/>
            {{ customer_record.country }}<br/>
            {{ customer_record.created_at }}<br/>
            {{ customer_record.id }}<br/>
{% endblock %}
